<div class="jumbotron">
  <div class="container">
    <h1>Authentic Wine</h1>
<p>Find wine producers that use natural methods.</p>
  
<%= link_to 'Search Producers', wineries_path, class: "btn btn-default"  %>
  </div>
</div>


