<title>Authentic Wine</title> 
<div class="jumbotron">
  <div class="container">
    <h1>Authentic Wine</h1>
    <div class="row">
      <div class="col-md-8">
        <p>With over 1,000 producers, our database is the most comprehensive list of wine producers using practices that respect the earth, maintain the integrety of the product, and taste like they should, without reliance on chemicals or manipulation.</p>
        <p>Find wine producers that use natural methods.</p>
        <%= link_to 'Search Producers', producers_path, class: "btn btn-default btn-lg"  %>
      </div>  
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
</div>


