<div class="container">  

  

  <h1>Producers</h1>

<div class="row">
  <% @wineries.each do |winery| %>
    <div class="col-md-2 col-xs-6">
      <div class="icon">
        <div class="thumbnail">
          <%= link_to (image_tag winery.thumbnail.url(:small)), winery %>
        </div>
        <div class="caption">
          <h5><%= link_to winery.name, winery %><h5>
        </div> 
      </div>
    </div>  
  <% end %>
</div>
<br>

<div class="text-center">
  <ul class="pagination">
    <%= will_paginate @wineries, renderer: BootstrapPagination::Rails %>
  </ul>
</div>

  <br>

  <%= link_to 'New Winery', new_winery_path %>

</div>