<div class="container">  

  

  <h1>Producers</h1>

<div class="row">
  <%= @wineries.each do |winery| %>
    <div class="col-md-2 col-sm-3">
      <div class="thumbnail">
        <%= link_to (image_tag winery.thumbnail.url(:thumb), class: 'image'), winery %>
      </div>
      <div class="caption">
        <%= link_to winery.name, winery %>
      </div> 
    </div>
  <% end %>
</div>

  <br>

  <%= link_to 'New Winery', new_winery_path %>

</div>